doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= appTitle
		link(rel="icon" href="/img/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="/stylesheets/style.css")
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
		link(rel="stylesheet" href="/stylesheets/bootstrap-datepicker_1_7_1.css")
		script(type="text/javascript", src="/scripts/jquery-3.2.1.min.js")
		script(type="text/javascript", src="/scripts/underscore-min.js")
		script(type="text/javascript", src="/scripts/bootstrap.js")
		script(type="text/javascript", src="/scripts/bootstrap.bundle.min.js")
		script(type="text/javascript", src="/scripts/bootstrap-datepicker_1_7_1.js")
		script(type="text/javascript", src="/scripts/moment-with-locales.min.js")
		

			
			
	body
		block page
		block header
			include includes/menu
			#wrapper
				block content
		block footer
			nav.navbar.navbar-default.navbar-fixed-bottom
				.container-fluid
					
					a.navbar-brand.col-xs-6(href="https://github.com/tbushman/ckdtracker/issues", target="_blank") Report an issue
					
					

		script(type="text/javascript", src="https://d3js.org/d3.v4.min.js" charset="utf-8")
