extends layout
block page
	- var menu = 'login'
block content
	div.container-fluid
		div.row
			div.col-xs-9.col-sm-6
				p Enter username and password
				form(enctype="multipart/form-data", method="POST", action="/login")
					div.input-group
						label Username
						input(type="text", name="username")
					div.input-group
						label Password
						input(type="password", name="password")
					div.input-group
						button.btn.btn-primary.btn-block(type="submit", ariaDescription="Log in")
							span Log in
				div.input-group
					label First time here?
					a.btn.btn-success.btn-block(href="/register", role="button", ariaDescription="Register") 
						span Register